* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

.ministry img{

   
   margin-left: 0px;
   width:200px;
   position: absolute;
   left: 3%;
   top:3%;

    
}


.container {

    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#tree_img img{

width:300px;
}

.container h1 {
    font-size: 160px;
    color: #fff;
    font-weight: bold;
}

#explore{
    
    color: #000;
    font-size: 24px;
    border: 2px solid #e04848;
    padding: 14px 50px;
    border-radius: 50px;
    margin-top: 20px;
    cursor: pointer;
    animation: transform 0.5 ease-out;
    position: fixed;
}

.text-explore{
    width: 100%;
    position: absolute;
    top:25%;
}
.explored{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.explored>button:hover{
    transform: scale(1.1);
}

.videoback {

    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio:16/9) {

    .videoback {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9) {

    .videoback {
        width: auto;
        height: 100%;
    }
}


#login{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin-top: 100px;
}
#close-button{
    position: absolute;
    right:30px;
    top:40px;
    width:20px;
    height: 20px;
}

/*login page */
.outer-box {

    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left, #ce64f2, #61dff0)
}

.inner-box {

    width: 550px;
    margin: 0 auto;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    padding: 30px 60px;
    background: linear-gradient(to top left, #ffffff16, rgba(255, 255, 255, 0.566));
    backdrop-filter: blur(0.5px);
    border-radius: 8px;
    box-shadow: 6px 2px 6px 7px #010a0f52;
    z-index: 2;
}

.signup-header h1 {

    font-size: 2.5rem;
    color: #212121;
}

.signup-header p {

    font-size: 0.9rem;
    color: #555;
    margin-bottom: 10px;
}

.signup-body {
    margin: 20px 0;

}

.signup-body p {
    margin: 10px 0;
}

.signup-body p label {
    display: block;
    font-weight: bold;
}

.signup-body p input {

    width: 100%;
    padding: 10px;
    border: 2px solid #cccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 4px;
}

.signup-body p input[type="submit"] {

    background-color: #3498db;
    border: none;
    color: white;
    cursor: pointer;
}

.signup-body p input[type="submit"]:hover {

    background-color: #0969aa;
}

.signup-footer p {
    color: #070202;
    text-align: center;
}

.signup-footer a {
    color: #3498db;
}

.form1{
    padding-top: 10px;

}

