.result-main-wrappper {
    display: flex;
    height: calc(100vh - 100px);
    width: 100%;
}

.result-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 20px;
    flex: 1;
}

.chatbot-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 31%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.chatbot-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #eee;
}

.chatbot-header-title {
    font-size: 20px;
    font-weight: 600;
}

.chatbot-header-close {
    cursor: pointer;
    font-size: 20px;
    color: #aaa;
}

.chatbot-body {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px 0;
    overflow-y: auto;
    position: relative;
    width: 100%;
}

.chatbot-body-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.chatbot-body-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    max-height: 200px;
}

.chatbot-body-content-wrapper-message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #eee;
}

.chatbot-body-content-wrapper-message-text {
    font-size: 14px;
    font-weight: 400;
}

.chatbot-body-input {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #eee;
    width: inherit;
    padding: 10px 0px;

}



 