<!DOCTYPE html>
<html>

<head>
    <title>Google Earth Embed</title>
    <style>
        #google-earth {
            height: 550px;
            width: 100%;
            background-color: antiquewhite;
        }

        h1 {
            text-align: center;
            width: 100%;
            color: #4CAF50;
            padding: 10px;
            margin-bottom: 40px;
        }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWqUl-HlAe-bbl_jNiFdrFu5gEcLe7Bes&callback=initMap"
        async defer></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWqUl-HlAe-bbl_jNiFdrFu5gEcLe7Bes&libraries=places&callback=initMap" async defer></script>
</head>

<body>
    <div id="google-earth"></div>
    <div class="search-bar">
        <input id="place-search" type="text" placeholder="Enter a location">
    </div>
    <script>
        let map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('google-earth'), {
                center: { lat: 23.226670906906943, lng: 77.32310944557776 },
                zoom: 17,
                mapTypeId: google.maps.MapTypeId.SATELLITE,
                styles: [
                    {
                        featureType: "all",
                        elementType: "labels",
                        stylers: [{ visibility: "on" }]
                    }
                ]
            });
    
            const input = document.getElementById("place-search");
            const searchBox = new google.maps.places.SearchBox(input);
            map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
    
            map.addListener("bounds_changed", () => {
                searchBox.setBounds(map.getBounds());
            });
    
            let markers = [];
            searchBox.addListener("places_changed", () => {
                const places = searchBox.getPlaces();
    
                if (places.length == 0) {
                    return;
                }
    
                markers.forEach((marker) => {
                    marker.setMap(null);
                });
                markers = [];
    
                const bounds = new google.maps.LatLngBounds();
                places.forEach((place) => {
                    if (!place.geometry) {
                        console.log("Returned place contains no geometry");
                        return;
                    }
                    const icon = {
                        url: place.icon,
                        size: new google.maps.Size(71, 71),
                        origin: new google.maps.Point(0, 0),
                        anchor: new google.maps.Point(17, 34),
                        scaledSize: new google.maps.Size(25, 25),
                    };
    
                    markers.push(
                        new google.maps.Marker({
                            map,
                            icon,
                            title: place.name,
                            position: place.geometry.location,
                        })
                    );
    
                    if (place.geometry.viewport) {
                        bounds.union(place.geometry.viewport);
                    } else {
                        bounds.extend(place.geometry.location);
                    }
                });
                map.fitBounds(bounds);
            });
        }
    </script>
        
</body>

</html>
