{% extends "base.html" %}

{% block title %}Expolre Map{% endblock title %}

{% block css %}
<link rel="stylesheet" href="/static/css/google_earth.css">
{% endblock css %}

{% block head_scripts %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWqUl-HlAe-bbl_jNiFdrFu5gEcLe7Bes&callback=initMap"
    async defer></script>
{% endblock head_scripts %}

{% block content %}

<div class="header">
    <h1>
        Google Earth Integration
    </h1>
    <button>
        Take Snapshot
    </button>
</div>

<p class="intoductory_para">
    We are thrilled to showcase that how our AI models work seamlessly with realtime Google Earth visualization. <strong>{This
        text needs to be edited}</strong>
</p>

<div id="google-earth"></div>

{% endblock content %}