<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Smart Hackathon</title>
    <link rel="stylesheet" href="/static/css/index.css" />
  </head>

  <body>
    <div class="cont">
      <video autoplay muted loop class="videoback" >
        <source src="/static/media/nature.hevc.mp4" type="video/mp4" />
      </video>
      <div class="container">
        <h1>Vruksha Vrista</h1>
        <button type="submit">Explore</button>
      </div>
    </div>
  </body>
</html>
