<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Smart Hackathon</title>
    <link rel="stylesheet" href="/static/css/index.css" />
  </head>

  <body>
    <div class="cont">
      <video autoplay muted loop class="videoback" id="trim">
        <source src="/static/media/naturetrim.mp4" type="video/mp4" />
      </video>

      <div class="text-explore" id="text-explore">
        <div class="container">
          <h1 id="typeing"></h1>
        </div>

        <div class="explored">
          <button type="submit" id="explore">Explore</button>
        </div>
      </div>
    </div>

    <!--login page-->
    <div id="login">
      <div class="inner-box">
        <header class="signup-header">
          <h1>Authenticate yourself !<br /></h1>
        </header>
        <button id="close-button">x</button>
        <main class="signup-body">
          <form action="#">
            {% comment %}
            <p>
              <label for="fullname">Full Name</label>

              <input
                type="text"
                placeholder="Enter Name"
                id="fullname"
                required="true"
                name="name"
              />
            </p>
            {% endcomment %}
            <p class="form1">
              <label for="email">E-mail</label>

              <input
                type="email"
                placeholder="email@email.com"
                id="email"
                required="true"
                name="email"
              />
            </p>
            <p class="form1">
              <label for="fullname">Password</label>
              <input
                type="password"
                placeholder="Atleast 8 characters"
                id="password"
                required="true"
                name="password"
              />
            </p>
            <p class="form1">
              <input
                type="submit"
                id="submit"
                value="Create Account"
                required="true"
              />
            </p>
          </form>
        </main>
        <footer class="signup-footer">
          <p>Don't have an account ? <a href="#" target="blank">Sign Up</a></p>
        </footer>
      </div>
    </div>
  </body>
  <script src="static\js\index.js"></script>
</html>
